Firebase/Image/App1/.vs
Firebase/Image/App1/App1/bin
Firebase/Image/App1/App1/bin
Firebase/Image/App1/.vs
Firebase/Image/App1/.vs
Firebase/Image/App1/App1/bin/Debug
Firebase/Image/App1/App1.Android/obj
Firebase/Image/App1/App1.UWP/obj/x86/Debug
Firebase/Image/App1/.vs
Firebase/Image/App1/App1/bin/Debug
Firebase/Image/App1/App1/obj
