Firebase/Image/App1/.vs
Firebase/Image/App1/App1/bin
Firebase/Image/App1/App1/bin
Firebase/Image/App1/.vs
Firebase/Image/App1/.vs
Firebase/Image/App1/App1/bin/Debug
Firebase/Image/App1/App1.Android/obj
Firebase/Image/App1/App1.UWP/obj/x86/Debug
Firebase/Image/App1/.vs
Firebase/Image/App1/App1/bin/Debug
Firebase/Image/App1/App1/obj
Firebase/Image/App1/.vs
XamarinFirebase Retrieve/ConsoleApp1/.vs
XamarinFirebase Retrieve/ConsoleApp1/bin
XamarinFirebase Retrieve/ConsoleApp1/obj
Firebase/Image/App1/.vs
Firebase/Image/App1/App1.UWP/obj
RefreshView/RefreshView/.vs
RefreshView/RefreshView/RefreshView/bin
RefreshView/RefreshView/RefreshView.UWP/obj
RefreshView/RefreshView/RefreshView.Android/bin
RefreshView/RefreshView/RefreshView.Android/obj
RefreshView/RefreshView/RefreshView.UWP/bin
RefreshView/RefreshView/RefreshView/obj
Firebase/Image/App1/App1.UWP/obj
Firebase/Image/App1/.vs
Firebase/Image/App1/App1/obj
Firebase/Image/App1/App1/bin
Firebase/Image/App1/App1.UWP/bin
Firebase/Image/App1/App1.Android/obj
Console-encrypt-test/Password/.vs
Console-encrypt-test/Password/obj
